<!--launch file for navigation dependencies 
	Roscontrol ya deberia estar corriendo
-->
<launch>

  ### SENSOR ###
    <!--include file="$(find capbot_rplidar)/launch/rplidar.launch" /-->

  ### ODOMETRY ###
    <!--include file="$(find srf_laser_odometry)/launch/srf_laser_odometry.launch" /-->

  ### TRANSFORM ###
    <node pkg="capbot_setup_tf" type="tf_broadcaster" name="tf_broadcaster" output="screen" />

</launch> 
