<launch>

   <master auto="start"/>
 <!--Run the map server --> 
    <node name="map_server" pkg="map_server" type="map_server" args="$(find capbot_navigation)/maps/capmap.pgm 0.050000"/>

 <!--- Run AMCL --> 
    <include file="$(find capbot_navigation)/launch/amcl.launch" />

   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find capbot_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find capbot_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find capbot_navigation)/param/costmap_local_params.yaml" command="load" />
    <rosparam file="$(find capbot_navigation)/param/costmap_global_params.yaml" command="load" /> 
    <rosparam file="$(find capbot_navigation)/param/base_local_planner_params.yaml" command="load" />
 </node>

</launch> 
