<launch>
    <rosparam file="$(find capbot_hardware_interface)/config/hardware.yaml" command="load"/>

    <rosparam file="$(find capbot_hardware_interface)/config/controllers.yaml" command="load"/>

    <rosparam file="$(find capbot_hardware_interface)/config/joint_limits.yaml" command="load"/>

    <node name="capbot_hardware_interface" pkg="capbot_control" type="capbot_hardware_interface_node" output="screen"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="capbot_joint_publisher capbot_velocity_controller"/>
</launch>
